.new__product {
    display: flex;
    height: 400px;
}

.new__left-block1 {
    background-color: #a45;
}

.new__left-block2 {
    background-color: #3d4;
}

.new__right-block {
    background-color: #34d;
}